/* Header.module.css */
.header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  max-width: 10rem; /* Tamaño adecuado en rem */
  height: auto;
}

/* Estilos para la vista móvil */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Logo arriba de SearchBar */
    align-items: center;
  }

  .logo {
    margin-bottom: 1rem;
  }
}
