.globalCont{
    background-color: rgb(196, 196, 196);
    max-width: 1000px;
    padding: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 100%;
  }
  
  .globalCont p{
      color: red;
      justify-content: center;
      font-size: small;
      height: 20px;
      margin-left: 20px;

  }
  .errores{
      color: red;
      justify-content: center;
      font-size: small;
      height: 20px;
      margin-right: 150px;
    }
    .previewImage{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-top: -120px;
      margin-right: 100px;
      font-size: medium;
      font-weight: bold;
      font-family: 'Rubik', sans-serif;
    }
    .img{
      margin: auto;
      max-width: 500px;
      max-height: 500px;
      object-fit: cover;
      box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.37);
    }
    .formTitle{
      color: black;
      align-items: center;
      /*box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.507);*/
      padding: 5px;
      /*border-radius: 8px ;*/
      width: 300px;
      font-family: 'Bebas Neue', sans-serif;
      letter-spacing: 4px;
      margin-bottom: 50px;
    }
    
    
    .globalCont label{
      font-size: small;
      font-weight: bold;
      font-family: 'Rubik', sans-serif;
      margin-top: -20px;
    }
    
      .imageInput{
      display: flex;
      flex-direction: column;
    }
    
    .previewCont{
      max-width: 550px;
      min-width: 550px;
      overflow: auto;
      max-height: 500px;
      min-height: 500px;
      font-family: 'Rubik', sans-serif;
    }
    
    .previewCont h5{
      margin-bottom: 0;
    }
  
    .btnDelete{
      background-color: red;
      color: white;
      border-style: none;
      border-radius: 100%;
    }
  
    .buttonDiv{
      
      padding: 0.5em 1em;
      margin: 0.5em;
      border: none;
      cursor: pointer;
      /*margin-left: 40em;*/
      background-color: rgb(196, 196, 196);
      align-items: center;
      justify-content: center;
      max-width: 1000px;
      padding: 20px 20px 20px 20px;
      display:flex;
      /*grid-template-columns: 1fr;*/
      /*flex-direction:row;*/
      margin: auto;
      width: 100%;
      height: 100%;
      
    }
  
    .btn{
      align-items: center;
      justify-content: center;
     background-color: #71A611;
     border-style: none;
     border-radius:5px;
     font-family: 'Bebas Neue', sans-serif;
     letter-spacing: 2px;
     width: 200px;
     font-size:medium;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    padding: 5px 5px;
    
    }
    
    .btn:hover{
      background-color: #207015;
      box-shadow:  0px 0px 5px #000000;
      transition: 0.15s ease-in-out;
      cursor: pointer;
    }
  
    .input1 {
      width: 300px;
      border-style:ridge;
      flex: 1;
      padding: 0.5rem;
      font-size: 1rem;
      height: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: border-color 0.3s;
    
    }
  
    .globalCont textarea {
      width: 400px;
      height: 50px;
      margin-top: -10px;
      border-style:ridge;
      flex: 1;
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: border-color 0.3s;
      
    }
  
    .globalCont select {
    padding: 0.5rem;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
      
    }
  
    .input2 {
      width: 80px;
      border-style:ridge;
      flex: 1;
      padding: 0.5rem;
      font-size: 1rem;
      height: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: border-color 0.3s;
    
    }
  
    .input3 {
      width: 400px;
      border-style:ridge;
      flex: 1;
      padding: 0.5rem;
      font-size: 1rem;
      height: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: border-color 0.3s;
    }

    .globalTalla{
      background-color: rgb(196, 196, 196);
      align-items: center;
      justify-content: center;
      max-width: 1000px;
      padding: 20px 20px 20px 20px;
      display:flex;
      /*grid-template-columns: 1fr;*/
      /*flex-direction:row;*/
      margin: auto;
      width: 100%;
      height: 100%;
      margin-top: -20px;
    }

    .globalTalla label{
      font-size: small;
      font-weight: bold;
      font-family: 'Rubik', sans-serif;
      /*margin-left: -20px;*/
      margin-right: 10px;
    }