@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
}

.homeButton {
  display: block;
  margin-top: 20px;
  background-color: #71A611;
  color: #fff; /* Color del texto */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  max-width: 10vh;
}

.homeButton:hover {
  background-color: green;
}

.arrow {
  max-width: 5vh; 
}

.centrardiv {
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  align-items: center;
}

.productdetail {
  font-family: "Montserrat";
  width: 135vh;
  padding: 2vh;
  background-color: grey;
  border-radius: 2vh;
  display: flex;
  justify-content: left;
  align-items: left;
}

.productimage {
  height: 80vh;
  border-radius: 2vh;
}

.productinfo {
  padding: 1vh;
  font-size: 3.5vh;
  text-align: left;
  justify-content: left;
  align-items: left;
}

.productname {
  font-size: 4.5vh;
}

@media (max-width: 768px) {
  .productdetail {
    width: 75vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .productimage {
    width: 65vh;
    height: auto;
    border-radius: 2vh;
  }
}