
.form{
    background-color: rgb(196, 196, 196);
    max-width: 1000px;
    padding: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    margin: auto;
    width: 50%;
    height: 100%;
  
    }

     
    .form label{
        font-size:small;
        font-weight: bold;
        font-family: 'Rubik', sans-serif;
        
      }
  
    .form input {
        width: 300px;
        border-style:ridge;
        flex: 1;
        padding: 0.5rem;
        font-size: 1rem;
        height: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: border-color 0.3s;
        margin-bottom: 30px;
    }

    
  
    .form textarea {
      width: 100%;
      height: 50px;
      margin: 0.5rem;
    }
  
    .globalLocation button {
      padding: 0.5em 1em;
      margin: 0.5em;
      border: none;
      cursor: pointer;
      background: #71A611;
      border-radius:5px;
      font-family: 'Bebas Neue', sans-serif;
      letter-spacing: 2px;
      width: 250px;
      font-size:medium;
      font-weight: bold;
      font-family: 'Rubik', sans-serif;
      padding: 5px 5px;
    }
    
    .globalLocation button:hover{
      background-color: #207015;
      box-shadow:  0px 0px 5px #000000;
      transition: 0.15s ease-in-out;
      cursor: pointer;
    }
  
    .warning{
      border:solid red 1px;
      border-radius: 0.2em;
    }
  
    .danger{
      margin-top: -20px;
      font-size: 12px;
      color: red;

    }
  
    .form span {
      font-size: 13px;
      color: red;
      margin-left: 0em;
      margin-bottom: 2em;
    
  
    }
    
    form p{
    font-size: 12px;
    margin-left: -15em;
  
    }
  
  
    
  .form select {
    padding: 0.3rem;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 60px;
  }

  .empresaTitle{
    
    color: black;
    align-items: center;
    padding: 5px;
    width: 300px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
    margin-bottom: 40px;
  }


  .globalLocation {
    background-color: rgb(196, 196, 196);
    max-width: 1000px;
    padding: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    margin: auto;
    width: 50%;
    height: 100%;
  }

  .globalLocation input {
    width: 80px;
    border-style:ridge;
    flex: 1;
    padding: 0.5rem;
    font-size: 1rem;
    height: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
    margin-bottom: 40px;
  }

  .globalLocation label{
    font-size:small;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    margin-top: -40px;
  }