@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Handjet:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.globalCont{
  max-width: 600px;
  min-height: 700px;
  background-color: rgb(245, 242, 242);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px auto;
  
}

.errores{
    color: red;
    justify-content: center;
    font-size: small;
    height: 20px;
  }
  .previewImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .img{
    margin: auto;
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.37);
  }
  .formTitle{
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.507);
    background-color: #8f6aae;
    padding: 5px;
    border-radius: 8px ;
    width: 100%;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 4px;
  }
  
  .labelInputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
  }
  
  
  label{
    font-size:small;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
  }
  
  textarea{
    max-width: 500px;
    min-width: 500px;
    min-height: 100px;
    max-height: 100px;
  }
  
  .name{
    display: flex;
    flex-direction: column;
  }

  .colRat{
    display: flex;
  justify-content: space-around;
  }

  .col{
    display: inline-flex;
  flex-direction: column;
  width: 200px;
  }
.price{
  display: flex;
  flex-direction: column;
  width: 200px;
}
  .sizeGen{
    display:flex;
    justify-content: space-around;
  }

  .imageInput{
    display: flex;
    flex-direction: column;
  }
  
  .previewCont{
    max-width: 550px;
    min-width: 550px;
    overflow: auto;
    max-height: 500px;
    min-height: 500px;
    font-family: 'Rubik', sans-serif;
  }
  
  .previewCont h5{
    margin-bottom: 0;
  }
  
  .previewSize{
    background-color: #8f6aae86;
    border-radius: 8px;
    flex-wrap: wrap;  
    max-width: 550px;
    min-width: 550px;
    min-height: 90px;
    max-height:90px;
  }


  .size{
    padding: 3px;
    font-size: small;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.322);
    display: inline-block;
    margin: 3px;
  }

  .btnDelete{
    background-color: red;
    color: white;
    border-style: none;
    border-radius: 100%;
  }

  .previewGender{
    background-color: #8f6aae86;
    border-radius: 8px;
    flex-wrap: wrap;  
    max-width: 550px;
    min-width: 550px;
    min-height: 90px;
    max-height:90px;
    overflow: auto;
  }

  .gender{
    padding: 3px;
    font-size: small;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.322);
    display: inline-block;
    margin: 3px;
  }

  .buttonDiv{
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .btn{
   background-color: #8f6aae;
   border-style: none;
   border-radius:5px;
   font-family: 'Bebas Neue', sans-serif;
   letter-spacing: 2px;
  }
  
  .btn:hover{
    background-color: #207015;
    box-shadow:  0px 0px 5px #000000;
    transition: 0.15s ease-in-out;
    cursor: pointer;
  }

  .siz{
    display: flex;
    flex-direction: column;
  }

  .gen{
    display: flex;
    flex-direction: column;
  }