/* LogIn.module.css */
.login-container {
  background-color: #000;
  width: 20rem;
  margin: 0 auto;
  padding: 3rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  align-items: center;
  align-content: center;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  align-items: center;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 18.8rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.google-login {
  height: 3rem;
  padding: 0, 1vh;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  margin-bottom: 2vh;
  align-items: center;
  align-content: center;
  text-align: center;
}

.googlelogo {
  height: 1.6rem;
}

p {
  text-align: center;
  margin-top: 10px;
  color: white;
}
/* LogIn.module.css */
.error-message {
  color: #ff0000; /* Color rojo para los mensajes de error */
  font-size: 14px; /* Tamaño de fuente */
  margin-top: 5px; /* Espacio superior para separar el mensaje de otros elementos */
}
.exito-message {
  color: rgb(0, 255, 68); /* Color rojo para los mensajes de error */
  font-size: 14px; /* Tamaño de fuente */
  margin-top: 5px;
}
