/* Card.module.css */
.card {
  border: 1px solid #ccc;
  padding: 1vh;
  margin: 1vh;
  text-align: center;
  background-color: #fff;
  border-radius: 1vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 25vh; /* Ancho fijo para cada tarjeta */
  height: 38vh; /* Alto fijo para cada tarjeta */
}

.card:hover {
  transform: scale(1.05);
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card img {
  height: 25vh;
  border-radius: 1vh;
}

.card h2 {
  font-size: 2vh;
  margin: 0;
  color: black;
}

.card .price {
  color: #007bff; /* Cambia el color del precio según tu diseño */
}

.card .sale {
  color: #ff0000; /* Cambia el color de la etiqueta de venta según tu diseño */
}
